<section class="intro carousel slide bg-overlay-light h-auto" id="carouselExampleCaptions">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3" class=""></li>


  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" alt="First slide" src="assets/intro-bg-01.jpg">
      <div class="carousel-caption ">
        <h2 class="display-4 text-white mb-2 mt-4">Somos una Red Social con un compromiso con la sociedad de ayudarla a
          ser mas respetuosa</h2>
        <a href="#" class="btn btn-primary btn-capsul px-4 py-2">Comenzar</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" alt="First slide" src="assets/intro-bg-02.jpg">
      <div class="carousel-caption ">
        <h2 class="display-4 text-white mb-2 mt-4">Nuestra Finalidad es un mundo sin controversias de temas, en el
          ambito Tecnologico</h2>
        <a href="#" class="btn btn-primary btn-capsul px-4 py-2">Comenzar</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" alt="First slide" src="assets/digital-periodismo.png">
      <div class="carousel-caption ">
        <h2 class="display-4 text-white mb-2 mt-4">Gracias a la suma de personas como ustedes este sueño se esta
          Cumpliendo</h2>
        <a href="#" class="btn btn-primary btn-capsul px-4 py-2">Comenzar</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" alt="First slide" src="assets/SEO_Competitor_Research.jpeg">
      <div class="carousel-caption ">
        <h2 class="display-4 text-white mb-2 mt-4">Un abrazo de parte de los coordinadores de Papersv sigue leyendo
          abajo para mas informacion</h2>
        <a href="#" class="btn btn-primary btn-capsul px-4 py-2">Comenzar</a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</section>

<!-- Info block 1 -->
<section class="info-section">
  <div class="container">
    <div class="head-box text-center mb-5">
      <h2>Quienes somos</h2>
      <h6 class="text-underline-primary">Este es su panel de información.</h6>
    </div>
    <div class="three-panel-block mt-5">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center mb-5 p-lg-3">
            <i class="fa fa-laptop box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <h3>Orientado a Periodistas</h3>
            <p class="px-4">La Red Social esta dirigida a periodistas y escritores que quieran que su post sea
              informativo y de confianza.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center p-lg-3">
            <i class="fa fa-diamond box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <h3>Altos Estandares de calidad</h3>
            <p class="px-4">la Red Social Papersv cuenta con altos estandares de calidad de clase mundial para que
              ustedes puedan expresarse confiablemente.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center p-lg-3">
            <i class="fa fa-heart box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <h3>Completamente Gratis y sin Anuncios</h3>
            <p class="px-4">Con el objetivo de comtribuir al periodismo digital, Nuestro servicio es 100% gratis y sin
              anuncios </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Info block 1 -->
<section class="info-section bg-primary py-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-6 content-half mt-md-0 pl-5 pt-4">
        <div class="head-box mb-5 pl-5 mt-2">
          <h2 class="text-white">Nuestra historia</h2>
          <h6 class="text-white text-underline-rb-white">Este es su panel de información.</h6>
        </div>
        <ul class="pl-5">
          <i class="fa fa-diamond box-round-outline" aria-hidden="true"></i>
          <span class="list-content">
            <strong style="font-size: 25px;">Como Comenzamos</strong>
            <br>
            <br>
            Nacio como una idea de mejorar al mundo ya que mucho se habla acerca de temas
            que pueden afectar la integridad de las personas y nuestro fin es concientizar
            a los comunicadores y personas que se expresan en los medios, para que puedan
            publicar artículos más profesionales tomando en cuenta los problemas que la
            sociedad tiene.
            <br>
            <br>
            La página es gratis y cualquier persona puede usarla, sin enbargo está dirigida a los periodista y
            escritores, que quieran hacer un cambio dentro de los medio digitales y dejar de una ves por todas la
            descriminacion, y el racismo que inundan las redes sociales actuales.
          </span>
        </ul>
      </div>
      <div class="col-md-6 p-0 m-0">
        <img src="https://grafreez.com/wp-content/temp_demos/suffi/img/intro-bg.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- team style 1 -->
<section class="team-section py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="head-box text-center mb-5 col-md-12">
        <h2>Conozca a nuestro equipo</h2>
        <h6 class="text-underline-primary mb-5">Este es su panel de información.</h6>
      </div>
      <div class="col-md-4 mb-md-0 mb-sm-4">
        <div class="member-box anim-lf t-bottom">
          <img class="img-fluid" src="https://grafreez.com/wp-content/temp_demos/suffi/img/t-member-01.jpg" alt="">
          <div class="overlay-content">
            <h3 class="text-white ml-3 my-0">Sergio Bernal</h3>
            <p class="text-white ml-3 mb-3">Desarrollador</p>
            <span class="socail-l ml-3 mb-3">
              <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
              <a href="#" class="mr-2"><i class="fa fa-instagram box-circle-solid"></i></a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-sm-4">
        <div class="member-box anim-lf t-bottom">
          <img class="img-fluid" src="https://grafreez.com/wp-content/temp_demos/suffi/img/t-member-02.jpg" alt="">
          <div class="overlay-content">
            <h3 class="text-white ml-3 my-0">Gabriela Zamora</h3>
            <p class="text-white ml-3 mb-3">Base de Datos</p>
            <span class="socail-l ml-3 mb-3">
              <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
              <a href="#" class="mr-2"><i class="fa fa-instagram box-circle-solid"></i></a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-sm-4 ">
        <div class="member-box anim-lf t-bottom">
          <img class="img-fluid" src="https://grafreez.com/wp-content/temp_demos/suffi/img/t-member-03.jpg" alt="">
          <div class="overlay-content">
            <h3 class="text-white ml-3 my-0">Smith</h3>
            <p class="text-white ml-3 mb-3">Desarrollador</p>
            <span class="socail-l ml-3 mb-3">
              <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
              <a href="#" class="mr-2"><i class="fa fa-instagram box-circle-solid"></i></a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-sm-4 mt-4">
        <div class="member-box anim-lf t-bottom">
          <img class="img-fluid" src="assets/niña.jpg" alt="">
          <div class="overlay-content">
            <h3 class="text-white ml-3 my-0">Carmen Andrades</h3>
            <p class="text-white ml-3 mb-3">Base de datos</p>
            <span class="socail-l ml-3 mb-3">
              <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
              <a href="#" class="mr-2"><i class="fa fa-instagram box-circle-solid"></i></a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-sm-4 mt-4">
        <div class="member-box anim-lf t-bottom">
          <img class="img-fluid" src="assets/man.jpg" alt="">
          <div class="overlay-content">
            <h3 class="text-white ml-3 my-0">Manases Turcios Ortez</h3>
            <p class="text-white ml-3 mb-3">Diseño</p>
            <span class="socail-l ml-3 mb-3">
              <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
              <a href="#" class="mr-2"><i class="fa fa-instagram box-circle-solid"></i></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
