<!--<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}} - {{item.id}}
  </li>
</ul>-->
<!--Navbar-->
<div class="container-fluid fixed-top" style="background-color: #5dabb8;">
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #5dabb8;">
    <a class="navbar-brand" [routerLink]="['/']"
      style="font-size: 25px; margin-right: 30px; color: #ffffff;">Papersv</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/start']" style="color: #ffffff;font-size: 15px">Inicio</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/profile']" style="color: #ffffff;font-size: 15px">Perfil</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/post']" style="color: #ffffff;font-size: 15px" tabindex="-1"
            aria-disabled="true">Post</a>
        </li>

        <li class="nav-item dropdown">
          <a style="color: #ffffff;font-size: 15px" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ajustes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #5dabb8;">
            <a class="dropdown-item" style="background-color: #5dabb8;color: #ffffff;font-size: 15px;">Cerrar Sesion</a>
            <a class="dropdown-item" [routerLink]="['/aboutUs']"
              style="background-color: #5dabb8;color: #ffffff;font-size: 15px;">Acerca de</a>
          </div>
        </li>
      </ul>
      <form class="form-inline mr-2 my-lg-0">
        <input class="form-control mr-sm-3" type="search" placeholder="Buscar" aria-label="Search">

        <button class="btn btn-dark mt-3 my-lg-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

<!--<footer class="footer text-center ">
</footer>-->

<!--<button mat-button (click)="aja()">click</button>-->