.subir {
    margin-top: -50px
}

footer {
    color: #555;
    background: #5dabb8;
    padding: 25px;
    font-weight: 300;
    margin-top: 10px;
}

.footer p {
    margin-bottom: 0;
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: 300;
}

footer p a {
    color: #555;
    font-weight: 400;
}

footer p a:hover {
    color: #9f26aa;
    text-decoration: none;
}

.noresize {
    max-width: 90%;
    max-height: 200px;
    height: 150px;
}

.noresize2 {
    resize: none;
}

.comentario {
    margin-bottom: 20px;
    height: 1100px;
}

.inicio {
    margin-top: 5px;
}

.publicaciones {
    margin-bottom: 20px;
}

.post-1 {
    margin-top: 10px;
    margin-left: 80%;
}

#wrapper{
	width:60%; 
	margin:auto; 
	height:350px; 
	margin-top:70px
}
#text{
	width:100%;
	height:250px; 
	font-size:24px;
}
#bad_notice{
	text-align:center; 
	color:#D30003; 
	margin-top:10px; 
	font-size:26px;
}
h1
{
 margin:auto;
 font-size:50px;
 color:#525252;
 line-height:3em;
 text-align:center;
}