footer{
  color: #555;
  background: #5dabb8;
  padding: 25px;
  font-weight: 300;
  margin-top: 10px;
  
}
.footer p{
  margin-bottom: 0;
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 300;
}
footer p a{
  color: #555;
  font-weight: 400;
}

footer p a:hover {
  color: #9f26aa;
  text-decoration: none;
}
